<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" class="menu-button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <span>{{userName}}</span>
        <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <mat-nav-list>
            <mat-list-item>
              <strong>{{userName}}</strong>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-nav-list>
          <button type="button" (click)="logOut()" mat-menu-item>Sair</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      
      <mat-sidenav #sidenav class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" opened="true">
        <mat-nav-list>
  
          <mat-accordion multi="true">
  
            <a (click)="sidenav.toggle()" mat-list-item routerLink="home">
              <strong>Home</strong>
            </a>
  
            <mat-expansion-panel expanded="true" *ngFor="let menuItem of menu; let i=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{menuItem.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a
                mat-list-item
                (click)="sidenav.toggle()"
                [routerLink]="subMenuItem.routerLink"
                *ngFor="let subMenuItem of menuItem.subMenu; let j=index"
              >{{subMenuItem.name}}</a>
            </mat-expansion-panel>
  
          </mat-accordion>
  
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  </div>